[report]
omit =
    ci-helpers/*
    */tests/*
    plasmapy_nei/setup_package.py
    plasmapy_nei/version.py
    plasmapy_nei/_base_init.py
exclude_lines =
    coverage: ignore
    ImportError
    ModuleNotFoundError
